html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start styling */

/* header */
/* footer */

footer {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 50px 0 50px;
  background: #FFF;
  text-align: center;
}

#home-page footer {
  max-width: 950px;
  margin: 0 auto;
  padding: 20px 50px 0 50px;
  background: #FFF;
  text-align: center;
}

footer p a,
footer p a:hover,
footer p a:visited {
  color: #ee3424;
}

/* home-page */

#home-page,
#blog-page,
#about-page,
#city-page,
#guidelines-page {
  background-image: url('img/cwb_pattern.jpg');
}

#content {
  max-width: 700px;
  margin: 20px auto;
  padding: 50px 50px;
  background: #FFF;
}

#home-page #content {
  max-width: 950px;
  margin: 20px auto;
  padding: 50px 50px;
  background: #FFF;
}

#twitter {
  clear:both;
  text-align:right;
}

body {
  font-family: helvetica, arial, sans-serif;
  color: #333333;
}

p {
  font-size: 14px;
  line-height: 1.2em;
}

#home-page article header {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0 12px;
  line-height: 30px;
  background: #ee3424;
  color: #FFF;
  text-transform: uppercase;
}

#home-page article {
  position: relative;
  z-index: 2;
  border: 3px solid #ee3424;
  width: 280px;
  height: 300px;
  padding: 0;
  margin: 30px 25px 0 5px;
  background: #FFF;
  overflow: hidden;
  float: left;
}

#home-page article>div {
  padding: 10px;
}

#home-page h2,
#city-page h2 {
  font-size: 18px;
  color: #333333;
}

#home-page h2 {
  margin-bottom: 5px;
}

#home-page h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

#home-page a,
#home-page a:visited,
#home-page a:hover {
  color: #ee3424;
  text-decoration: none;
}

#home-page time a,
#home-page time a:visited,
#home-page time a:hover {
  color: #ee3424;
  text-decoration: none;
}

#home-page h3 a,
#home-page h3 a:visited,
#home-page h3 a:hover {
  color: #ee3424;
  text-decoration: none;
}

#home-page time a,
#home-page time a:visited,
#home-page time a:hover {
  color: #ee3424;
  text-decoration: none;
}

#home-page article header a,
#home-page article header a:hover,
#home-page article header a:visited,
#home-page article header a:active {
  color: #FFF;
  text-decoration: none;
}
 
div .top-of-page {
  float:right;
}

nav li {
  font-size: 15px;
  color: #333333;
  float: right;
  margin: 0 5% 0 0;
}

#home-page nav li a,
#home-page nav li a:visited,
nav li a,
nav li a:visited {
  color: #333333;
  text-decoration: none;
}

#home-page nav li a:hover,
#home-page nav li a:active,
nav li a:hover,
nav li a:active {
  color: #ee3424;
  text-decoration: none;
}

/* blog-page */

#blog-page h2,
#city-page h2,
#guidelines-page h2 {
  font-size: 22px;
  color: #ee3424;
  margin-bottom: 10px;
}

#blog-page h3,
#city-page h3 {
  font-size: 18px;
  color: #ee3424;
}

#blog-page p,
#city-page p,
#guidelines-page p {
  margin-bottom: 10px;
}

#city-page .categories,
#blog-page .categories {
  display: inline;
}

#blog-page .categories li,
#city-page .categories li {
  font-size: 18px;
  color: #333333;
  display: inline;
}

#blog-page li a,
#city-page li a {
  font-size: 18px;
  color: #333333;
  text-decoration: none;
}

#blog-page li a:hover
#city-page li a:hover {
  color: #ee3424;
  text-decoration: none;
}

#blog-page #content p a,
#blog-page #content p a:visited,
#city-page #content p a,
#city-page #content p a:visited {
  color: #333333;
}

#blog-page #content p a:hover,
#city-page #content p a:hover {
  color: #ee3424;
}

/* about-page */

#about-page h2 {
  font-size: 22px;
  color: #ee3424;
  margin-bottom: 10px;
}

#about-page h3 a {
  font-size: 20px;
  color: #333333;
  text-decoration: none;
  margin-bottom: 10px;
}

#about-page h3 a:hover {
  color: #ee3424;
}

#about-page p {
  margin-bottom: 10px;
}

#about-page #twitter2,
#about-page #twitter3,
#about-page #twitter4 {
  margin-bottom: 20px;
}

#about-page #content p a,
#about-page #content p a:visited {
  color: #333333;
}

#about-page #content p a:hover {
  color: #ee3424;
}

/* city-page */
.meta {
  display: block;
  line-height: 2em;
}

br.clear {clear:both;}

#guidelines-page h3 {
  font-size: 18px;
  color: #333333;
  margin-bottom: 5px;
}